header > div:last-child {
  text-align: end;
}

.input-group-prepend {
  padding: 0;
}

.input-group-text {
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.button-row {
  text-align: right;
}

.button-column {
  text-align: center;
  width: 15%;
}

.no-grades-message {
  text-align: center;
}
